@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,600&display=swap');


.home{
    animation: 1s ease-in-out fadein;
}

@keyframes fadein {
    0%   {opacity: 0; transform: translateY(-40px);}
    100% {opacity: 1; transform: translateY(0px);}
}


.sec1,
.sec2,
.sec3 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    min-height: 80vh;
}

.follow {
    position: absolute;
    right: 5vw;
    top: 3vw;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

@media (max-width:992px) {
    .follow {
        display: none;
    }

}

.follow .fab,
.follow .fas {
    margin: 25px 25px;
    color: #a7ff04;
    transform: scale(3);
    transition: 0.15s ease-in-out;
}

.follow .fab:hover,
.follow .fas:hover {
    transform: scale(3.5);
}

.row1 {
    height: fit-content;
    min-height: 500px;
    margin-top: calc(40px + 5vh);
}

.logo-div {
    margin-top: 80px;
    animation: 1s ease-in-out zoomout;
    transform: scale(1.3);

}
@keyframes zoomout {
    0%   {transform: scale(3);}
    100% {transform: scale(1.3);}
}

.logo {
    height: 200px;
    display: block;
    margin: auto;
    animation: rotation 11s infinite linear;
    filter: brightness(1.1);

    pointer-events: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.logo-div .logo-text {
    margin: 0 0 0px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 140px;
    font-size: 19px;

    pointer-events: none;
}



.nameiitm {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: min(42px, 4.67vw);
    letter-spacing: 0px;
    color: #fadcac;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px 2px #000000;
    pointer-events: none;
    transform: scale(1.3);
    animation: 1.5s ease-in-out fadein2;

}
@keyframes fadein2 {
    0%   {transform: translateY(15vh) scale(1);opacity: 0;}
    50%   {transform: translateY(15vh) scale(1) ;opacity: 0;}
    100%   {transform: translateY(0) scale(1.3); opacity: 1;}
    
}

@media (max-width:992px) {

    .nameiitm {
        position: relative;
        bottom: 70px;
        font-size: min(32px, 8vw);
        transform: scale(1);
        text-shadow: 2px 2px 0px #000000;
    }

    .logo-div {
        transform: scale(1);

    }


    .sec3{
        min-height: 60vh;
    }
}















/*styles for secttion 2 starts here*/
.sec2 {
    margin: 0;
    align-items: center;
    background-image: linear-gradient(#5eec00, #a7ff04);
}

.welcome {
    font-size: min(30px, 5vw);
    text-align: center;
    margin: 0;
    min-height: 500px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 600;
    color: #002232;
    height: fit-content;
}

.welcome span {
    font-size: min(36px, 9vw);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    height: 50px !important;
}

@media (max-width:992px) {
    .welcome {
        padding: 15vw 8vw;
    }

}


.updatebox {
    opacity: 0.94;
    transition: ease-in-out 300ms;
}

.updatebox:hover {
    opacity: 1;
    transform: scale(1.03);
}










.sec3 {
    margin: 0;
    background-image: linear-gradient(#00141d, #00141d, #005278);
    padding-bottom: 40px;
    flex-direction: column;
}
@media (max-width:500px) {
    
    .sec3 {
        height: 600px;
    }
    .highlights{
        transform: translateY(150px);
    }

}

.react-3d-carousel {
    margin: 60px 0px;
}

.highlights {
    font-size: min(36px, 9vw);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #a7ff04;
   
    padding: 10vw 0 10px 0;
    text-align: center;

}










.find {
    font-size: min(36px, 9vw);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #a7ff04;
    
    margin-bottom: 30px;

}

.sec4 .fab,
.sec4 .fas {
    margin: 20px 20px 10vh 20px;
    color: #a7ff04;
    transform: scale(2.5);
    transition: 0.15s ease-in-out;
}

.sec4 .fab:hover,
.sec4 .fas:hover {
    transform: scale(3);
}

.form-text {
    color: rgb(156, 234, 255) !important;
}

.mybtn {
    background-color: greenyellow;
    padding: 2px 15px;
    font-weight: 700;
    transition: 0.35s ease-in-out;
    border: 0px;
    color: #002232;
    border: 1px solid greenyellow;
}

.mybtn:hover {
    box-shadow: 10px 8px 0 0 rgba(172, 255, 47, 0.7);
    background-color: white;
    border: 1px solid #002232;
}

.btndiv {
    transform: scale(1.2);
    display: block;
    margin: 50px auto 20px auto;
    width: fit-content;
    transition: 0.35s ease-in-out;
}

.btndiv:hover {
    box-shadow: -10px -8px 0 0 rgba(172, 255, 47, 0.7);
}